.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: relative;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(100, 41, 41);
}

.App-header p {
font-size: 40px;
}

.App-header nav {
position: absolute;
left: 0;
top: 0;
background-color: rgb(57, 59, 46);
height: 100vh;
padding: 0 20px;
}

.App-header nav ul {
  list-style: none;
  padding: 5px 10px;
}

.App-header nav ul li:hover {
 background-color: #ccc;
 cursor: pointer;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
